@import "variables", "functions", "animation";

.container {
    visibility: hidden;

    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    color: $text-color;
    overflow: hidden;

    @import "scores", "messages", "grid", "tiles";

    h1.title {
        font-size: 3em;
        font-weight: bold;
        line-height: 1.5em;
        margin: 0;
        padding: 0;
        display: block;
        text-transform: uppercase;
        text-align: center;
        background: darken($game-container-background, 20%);
        color: $bright-text-color;
    }

    .above-game {
        margin: 0 auto 0 auto;

        p {
          margin: 0.5em 0 0.5em 0;
          line-height: 1.65em;
        }
        strong.uppercase {
            text-transform: uppercase;
        }
        &:after {
            content: "";
            display: block;
            clear: both;
        }

        .game-explanation {
            margin-top: 1em;
        }

        .restart-button {
            cursor: pointer;
            display: inline-block;
            background: darken($game-container-background, 20%);
            border-radius: 0.4em;
            padding: 0 1.25em;
            text-decoration: none;
            color: $bright-text-color;
            height: 2.5em;
            line-height: 2.5em;
            box-sizing: border-box;
            display: block;
            text-align: center;
            float: right;
        }
    }

    .game-container {
        position: relative;
        margin: 0 auto 0 auto;

        cursor: default;

        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        touch-action: none;
        -ms-touch-action: none;

        background: $game-container-background;
        border-radius: 0;
        box-sizing: border-box;
    }
}
