.scores-container {
    float: left;
    text-align: left;
    font-size: 1.5em;
    line-height: 2.5em;
    height: 2.5em;

    .score-container, .best-container {
        position: relative;
        display: inline-block;
        background: $game-container-background;
        min-width: 6em;
        height: 2.5em;
        font-weight: bold;
        border-radius: 0.5em 0.5em 0 0;
        color: white;
        text-align: center;

        &:before {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            text-transform: uppercase;
            font-size: 0.65em;
            line-height: 1.6em;
            color: $tile-color;
        }

        span {
            position: absolute;
            display: block;
            width: 100%;
            top: 70%;
            left: 0;
            margin-top: -0.5em;
            line-height: 1em;
            &.updated {
                animation: text-pop $transition-speed ease $transition-speed;
            }
        }
    }
    .score-container:before {
        content: "Score";
    }
    .best-container:before {
        content: "Best Score"
    }
}
