$tile-border-radius: 10%;

$text-color: #6a6e6e;
$bright-text-color: #f2f9f6;

$tile-color: #e4efef;
$tile-gold-color: #edc22e;

$game-container-background: #a0adbb;

$transition-speed: 250ms;

$tile-colors:
    #6c18dc #fffaf9, // 2
    #ca8964 #fffaf9, // 4
    #b90e2c #fffaf9, // 8
    #fc5e2e #fffaf9, // 16
    #e0bd00 #fffaf9, // 32
    #002bff #fffaf9, // 64
    #1d8c01 #fffaf9, // 128
    #20ca81 #fffaf9, // 256
    #0b0633 #fffaf9, // 512
    #8b3ab5 #fffaf9, // 1024
    #926f1f #fffaf9, // 2048
    #5a4e71 #fffaf9, // 4096
    #b14040 #fffaf9, // 8192
    #2977af #fffaf9, // 16384
    #6a943d #fffaf9, // 32768
    #9e4d08 #fffaf9; // 65536
