body {
    margin: 0;
    padding: 0;
    background: #faf8ef;
    font-family: "Helvetica Neue", Arial, sans-serif;
    
    touch-action: none;
    -webkit-touch-action: none;
    -moz-touch-action: none;
    -ms-touch-action: none;

    .orientationOverlay {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 100;
        background: url(orientation.png) no-repeat center center fixed;
        background-size: cover;
        display: none;

        @media screen and (max-height: 480px) and (orientation: landscape) {
            display: block;
        }
    }

    @import "game";
}
